
@import url('https://fonts.googleapis.com/css?family=Oxanium|Roboto|Odibee+Sans|Pacifico|Spartan&display=swap');
body{
    font-size: 19px;
}
.fontName{
    text-align: center;

}

.textFont{
    font-size:20px;
    margin-top: -15px;
}


.spartan{
    font-family: 'Spartan', sans-serif;
}

.roboto{
    font-family: 'Roboto', sans-serif;
}

.oxanium{
    font-family: 'Oxanium', cursive;
}

.pacifico{
    font-family: 'Pacifico', cursive;
}

.odibee{
    font-family: 'Odibee Sans', cursive;
}